<table style="width: 100%" align="center">
    <tr>
        <td colspan="3"><b>Intra Zone Import Permit Undertaking</b></td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
        <td>Dated : $dateNow</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td>Ref: UNDERTAKING NO : $track_no</td>
        <td colspan="2"></td>
    </tr>
    <tr>
        <td colspan="3">Managing Director,
            <br/>$economicZones->name
            <br/>$economicZones->upazilla, $economicZones->district.
        </td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
        <td colspan="3"><strong>Subject : Undertaking and request for issuing Foreign Export Permit</strong></td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
        <td colspan="3">Dear Sir,</td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
        <td colspan="3">
            We do hereby certify that the goods as described in the invoice no: <strong>$invoice_no</strong>, 
            dated: $invoice_date,have been manufactured in our factory in the
            <strong>$economicZones->name</strong>.in accordance with the approval of authority and now ready for export to 
            <strong>U.S.A.</strong> at present international market price against L/C no : 
            <strong>D20162796(CAD BASE)</strong> dated: 
            <strong>28-09-2016</strong> issued by: 
            <strong>Woori Bank Ltd..</strong>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            We further undertake that we shall abide by the rules and regulations of the government and $economicZones->name in
            connection with export and be hold liable in case of any default.
        </td>
    </tr>
    <tr>
        <td colspan="3">
            Being duty authorized by the Board of Directors of our company, the undersigned issues the above statement on behalf of the
            company.
        </td>
    </tr>
    <tr>
        <td colspan="3">
            In view of the above, you are requested to issue us the export permit
        </td>
    </tr>
    <tr><td colspan="3">&nbsp;</td></tr>
    <tr>
        <td colspan="3">
            Thank You<br/>
            Sincerely Yours
        </td>
    </tr>
    <tr>
        <td colspan="3">$signature</td>
    </tr>
    <tr>
        <td colspan="3">
            <b>-------------------------------</b><br/>
            <b>Authorized Signature</b><br/>
            <b>$applicant->user_full_name</b><br/>
            <b>$company_name</b><br/>
        </td>
    </tr>
    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3">Enclosed (dated) : </td>
    </tr>
    <tr>
        <td>
            <table>
                <tr>
                    <td>$doc_no </td>
                    <td>$doc_name </td>
                    <td>$doc_time</td>    
                </tr>
            </table>
        </td>
        <td colspan="2">&nbsp;</td>
    </tr>
</table>